# Carpetas pesadas
vcpkg/
curl-8.19.0_2-win64-mingw/
output/

# Ejecutables y comprimidos
*.exe
*.zip
curl
proyecto

# Temporales
.env
response.json

# Ignorar carpeta de ejercicio con rama propia
Ejercicio_3_Polimorfismo/